@model IEnumerable<mls.Models.CustomerOrder>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerOrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerDivisionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MlsDivisionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerPn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UhPn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromiseDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerOrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerDivisionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MlsDivisionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerPn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UhPn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromiseDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerOrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerOrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerOrderId })
        </td>
    </tr>
}

</table>
